h2 {
  color: rgb(120, 185, 153);
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: none;
  padding-left: 40px;
}

#info {
  height: 800px;
  overflow: scroll;
  margin-top: 40px;
  margin-right: 50px;
}

ul {
  margin-bottom: 15px;
}

ul li {
  list-style: none;
  display: inline-block;
  margin-right: 60px;
}

.social-icon {
  width: 50px;
}

.img-container {
  background-image: url("../Images/AdamSheafferColorSm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 69%;
}

.project-image {
  width: 300px;
  display: block;
  margin: 25px auto 40px auto;
  border: 1px solid #ddd;
  box-shadow: 5px 4px 15px #ccc;
}

.project-description {
  max-width: 350px;
  text-align: justify;
}

.project-title {
  font-style: italic;
  font-weight: 700;
}

.bio {
  max-width: 400px;
  text-align: justify;
}

@media (max-width: 905px) {

  .img-container {
    display: none;
  }

  #info {
    width: 100%;
  }

  h2 {
    text-align: center;
  }

  ul {
    text-align: center;
  }

  .bio {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 40px 0 40px;
  }

  .container {
    padding: 0;
  }

  dl {
    text-align: center;
    margin: 20px auto;
    padding: 0 40px 0 40px;
    max-width: initial;
  }

  dt {
    margin-top: 25px;
  }

  .project-description {
    margin: auto;
    max-width: 550px;
  }

  .project-image {
    display: block;
    margin: 10px auto;
  }

}
